<link rel="stylesheet" href="{% link assets/css/projects/survival.scss %}">
<div class="formView">
	<!--Сколько осталось-->
	<fieldset>
		<legend>Статистика для размышлений</legend>
		<div class="formView__container">
			<div>
				<span>Текущий возраст</span>
				<input type="number" id ="survival-curent-age-input" class="input-default" min="0" max="90" value="0">
				<span> лет</span>
				<br>
				<fieldset>
					<legend>Пол</legend>
					<label for="survival-sex-males-input">Мужской</label><span> </span>
					<input type="radio" name="survival-sex" id = "survival-sex-males-input" class="input-default" value="male" checked>
					<br>
					<label for="survival-sex-females-input">Женский</label><span> </span>
					<input type="radio" name="survival-sex" id = "survival-sex-females-input" class="input-default" value="female">
				</fieldset>
			</div>
			<div>
				<span>В среднем осталось</span>
				<br>
				<span id="survival-remaining-age"></span><span></span><span> жизни</span>
			</div>
			<div class="formView__longRow">
				<table>
					<caption>
						<span>Вероятность до </span>
						<input type="number" id ="survival-future-age-input" class="input-default" min="1" max="91" value="1">
						<span> года</span><span>:</span>
					</caption>
					<tr>
						<td>
							умереть от любой причины
						</td>
						<td>
							<span id="survival-total-mort">0.52%</span>
						</td>
					</tr>
					<tr>
						<td>заболеть раком
						<select id="survival-localization-select" class="input-default"></select>
						</td>
						<td>
							<span id="survival-cancer-incidence">0.52%</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</fieldset>

</div>
<script type="text/javascript" src="{% link scripts/projects/survival.js %}"></script>