<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61731532, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61731532" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Комментарии Вконтакте -->
{% if page.layout == "post" %}
	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?167"></script>
	<script type="text/javascript">
		VK.init({apiId: 7313187, onlyWidgets: true});
	</script>
{% endif %}
<!-- Мой скрипт для подсчёта числа посетителей и перенаправки комментариев к постам в мой телеграм -->
<script type="text/javascript">
	//Подсчёт посетителей сайта.
	const MESSAGE_SERVER = 'https://deorathemen.wixsite.com/messages/_functions/mendeo_msg';
	setTimeout(() =>
	{
		if (!window.thisIsMySite) navigator.sendBeacon(MESSAGE_SERVER, JSON.stringify({counter: true}))
	}, 5000); //Таймаут отсеивает роботов и позваляет успеть установить thisIsMySite.
	
	//Отправка оставленного комментария ко мне в телеграм.
	{% if page.layout == "post" %}
		VK.Observer.subscribe('widgets.comments.new_comment', (num, last_comment) =>
		{
			const error = 'Cannot resend message to telegram.'
			const msg = 
			{
				text: last_comment,
				num: num,
				page: {{ site.url }}{{ page.url }},
				vk: true
			};
			fetch(MESSAGE_SERVER,
			{
				method: 'POST',
				headers:
				{
					'Content-Type': 'text/plain' //'application/json' - not work for wix site (wix send 403 for options requests)
				},
				body: JSON.stringify(msg)
			}).then((res) => 
			{
				if (!res.ok) console.log(error);
			}).catch((err) =>
			{
				console.log(error);
				console.log(err);
			});
		});
	{% endif %}
</script>