$load: url('/assets/images/image-enlager/light/load.png');
$leftArrow: url('/assets/images/image-enlager/light/left-arrow.svg');
$rightArrow: url('/assets/images/image-enlager/light/right-arrow.svg');

@import 'image-enlager';