$load: url('/assets/images/image-enlager/dark/load.png');
$leftArrow: url('/assets/images/image-enlager/dark/left-arrow.svg');
$rightArrow: url('/assets/images/image-enlager/dark/right-arrow.svg');

@import 'image-enlager';