@use "image-enlager" with (
	$imageEnlager_load: url("image-enlager/dark/load.svg"),
	$imageEnlager_leftArrow: url("image-enlager/left-arrow.svg"),
	$imageEnlager_rightArrow: url("image-enlager/right-arrow.svg")
);
.image-enlager-right-arrow
{
	filter: invert(100%);
}
.image-enlager-left-arrow
{
	filter: invert(100%);
}
.image-enlager-right-arrow
{
	filter: invert(100%);
}
