@import "syntax_dark";

$linkColor: #787878;
$headerColor:  #C8C8C8;
$backgroundColor: #1E1E1E;
$h2Color:#3C3C3C;
$whoAmIcolor: #787878;
$borderBottomColor: #ececec;
$postCategoriesBackgroundColor:  #e3e3e3;
$postDateBackgroundColor: #D4D4D4;
$postBackgroundColor:  #D4D4D4;
$postsLabelBorderBottomColor: #eee;
$postsLabelColor: #777;
$tableBorderColor: #E7E7E7;

@import "plain";