@import "syntax_light";

$linkColor: #0a59b0;
$headerColor:  #000;
$backgroundColor: #fff;
$h2Color:#222222;
$whoAmIcolor: #aaa;
$borderBottomColor: #ececec;
$postCategoriesBackgroundColor:  #e3e3e3;
$postDateBackgroundColor: #555;
$postBackgroundColor:  #222;
$postsLabelBorderBottomColor: #eee;
$postsLabelColor: #777;
$tableBorderColor: #000;
$changeThemeButtonTextColor: #d4d4d4;
$changeThemeButtonBackgroundColor: #1e1e1e;
$changeThemeButtonHoverTextColor:#000;
$changeThemeButtonHoverBackgroundColor: #787878;

@import "plain";