@import "syntax_dark";

$linkColor: #787878;
$headerColor:  #C8C8C8;
$backgroundColor: #1e1e1e;
$h2Color:#3C3C3C;
$whoAmIcolor: #787878;
$borderBottomColor: #ececec;
$postCategoriesBackgroundColor:  #e3e3e3;
$postDateBackgroundColor: #d4d4d4;
$postBackgroundColor: #d4d4d4;
$postsLabelBorderBottomColor: #eee;
$postsLabelColor: #777;
$tableBorderColor: #E7E7E7;
$changeThemeButtonTextColor: #222;
$changeThemeButtonBackgroundColor: #d4d4d4;
$changeThemeButtonHoverTextColor: #d4d4d4;
$changeThemeButtonHoverBackgroundColor: #787878;

@import "plain";
@import "image-enlager_dark";