@import "syntax_light";

$linkColor: #0a59b0;
$headerColor:  #000;
$backgroundColor: #FFFFFF;
$h2Color:#222222;
$whoAmIcolor: #aaa;
$borderBottomColor: #ececec;
$postCategoriesBackgroundColor:  #e3e3e3;
$postDateBackgroundColor: #555;
$postBackgroundColor:  #222;
$postsLabelBorderBottomColor: #eee;
$postsLabelColor: #777;
$tableBorderColor: #000;

@import "plain";