---
---
/* Блок, отвественный за custom_bw_image проект */
.custom-bw-image
{
	#inputImage
	{
		max-width: 49%;
		max-height: 90vh;
		margin-left: 1rem;
	}
	#outputImage
	{
		max-width: 49%;
		max-height: 90vh;
	}
	#inputFile
	{
		max-width: 90vw;
	}
	#inputFile + span
	{
		color: red;
	}
	@media screen and (max-width: 1080px)
	{
		#inputImage
		{
			max-width: 95%;
			max-height: 45vh;
			margin-top: 2rem;
			margin-left: 0px;
		}
		#outputImage
		{
			max-width: 95%;
			max-height: 45vh;
		}
		#buttonsContainer
		{
			flex-direction: column;
			max-width: 95%;
		}
	}
	#blackPower
	{
		width: 100%;
	}
	#blackPowerContainer
	{
		display: flex;
		align-items: center;
	}
	#blackPowerContainer span
	{
		margin-left: 0.3rem;
	}
	#progressBarContainer
	{
		position: fixed;
		z-index: 2;
	}
	#buttonsContainer
	{
		display: flex;
		justify-content: space-between;
	}
	.progress-bar-background
	{
		background-color: rgba(48, 48, 48, 0.6);
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 1;
	}
	body
	{
		min-height: 95vh;
	}
}