<!DOCTYPE html>
<html lang="en">
	<head>
		{%- include head.html -%}
	</head>
	<body>
		<main class="container">
			<section class="about">
				<a href="{{ site.baseurl }}/"><img src="{{ site.avatar }}" alt="{{ site.plainwhite.name }}"></a>
				<h2 id="title">
					<a href="{{ site.baseurl }}/">{{ site.plainwhite.name }}</a>
				</h2>
				<p class="tagline">{{ site.plainwhite.tagline }}</p>
				
				<ul class="social">
					{% if site.plainwhite.social_links.github %}
					<li>
						<a href="https://github.com/{{ site.plainwhite.social_links.github }}" class="icon-github-circled"></a>
					</li>
					{% endif %}
					{% if site.plainwhite.social_links.vk %}
					<li>
						<a href="https://vk.com/{{ site.plainwhite.social_links.vk }}" class="icon-vk"></a>
					</li>
					{% endif %}
					{% if site.plainwhite.social_links.facebook %}
					<li>
						<a href="https://facebook.com/{{ site.plainwhite.social_links.facebook }}" class="icon-facebook"></a>
					</li>
					{% endif %}
					{% if site.plainwhite.social_links.instagram %}
					<li>
						<a href="https://instagram.com/{{ site.plainwhite.social_links.instagram }}" class="icon-instagram"></a>
					</li>
					{% endif %}
				</ul>
				
				{%- if site.plainwhite.navigation -%}
					<nav class="navigation">
					<ul>
						{% for link in site.plainwhite.navigation %}
						<li>
							<a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
						</li>
						{% endfor %}
					</ul>
					</nav>
				{%- endif -%}
				<p>
					&copy;
					{{ "now" | date: "%Y" }}
				</p>
			</section>
			<section class="content">
				{{ content }}
			</section>
		</main>
		{%- if site.plainwhite.analytics_id -%}
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());
				gtag('config', '{{ site.plainwhite.analytics_id }}');
			</script>
		{%- endif -%}
	</body>
</html>
