---
layout: html_minifier
---
<!DOCTYPE html>
<html lang="ru">
	<head>
		{%- include head.html -%}
	</head>
	<body>
		<!-- Yandex.Metrika counter -->
		<noscript><div><img src="https://mc.yandex.ru/watch/61731532" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
		<main class="container">
			<section class="about">
				<header>
					<a href="{{ site.baseurl }}/"><img src="{% link assets/images/avatar.jpg %}" alt="{{ site.plainwhite.name }}"></a>
					<h2 id="title">
						<a href="{{ site.baseurl }}/">{{ site.plainwhite.name }}</a>
					</h2>
					<p class="tagline">{{ site.plainwhite.tagline }}</p>
				</header>
				<ul class="social">
					{%- if site.plainwhite.social_links.github -%}
					<li>
						<a aria-label="GitHub" href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank" rel="noopener" class="icon-github-circled"></a>
					</li>
					{%- endif -%}
					{%- if site.plainwhite.social_links.vk -%}
					<li>
						<a aria-label="Вконтакте" href="https://vk.com/{{ site.plainwhite.social_links.vk }}" target="_blank" rel="noopener" class="icon-vk"></a>
					</li>
					{%- endif -%}
					{%- if site.plainwhite.social_links.email -%}
					<li>
						<a aria-label="E-mail" href="mailto:{{ site.plainwhite.social_links.email }}" target="_blank" rel="noopener" class="icon-email"></a>
					</li>
					{%- endif -%}
				</ul>
				
				{%- if site.plainwhite.navigation -%}
					<nav class="navigation">
						<ul>
							{%- for link in site.plainwhite.navigation -%}
							<li>
								<a href="{{ link.url | relative_url }}">{{ link.title }}</a>
							</li>
							{%- endfor -%}
						</ul>
					</nav>
				{%- endif -%}
				<p>
					<span id='copyright'>&copy;{{ "now" | date: "%Y" }}</span>
					<div class="feed">
						<a aria-label="RSS-лента" href = "{{ site.url }}{% link feed.xml %}" class="icon-rss" rel="alternate" type="application/atom+xml"></a>
						<a aria-label="Канал в телеграм" href = "https://t.me/mendeo_ru" target="_blank" class="icon-paper-plane" rel="noopener"></a>
					</div>
				</p>
				<fieldset class="theme_selector">
					<label for="radio-light-theme" aria-label="Светлая тема"></label>
					<input type="radio" id="radio-light-theme" title="Светлая тема" name="select-theme-radio">
					<label for="radio-auto-theme" aria-label="Системная тема"></label>
					<input type="radio" id="radio-auto-theme" title="Системная тема" name="select-theme-radio">
					<label for="radio-dark-theme" aria-label="Тёмная тема"></label>
					<input type="radio" id="radio-dark-theme" title="Тёмная тема" name="select-theme-radio">
					<div></div>
				</fieldset>
			</section>
			<section class="content">
				{{ content }}
			</section>
		</main>
		<!-- Окно информирования о куках -->
		<div id="cookiesNotification">
			<p class="">На сайте используются cookie для аналитики</p>
			<button type="button" class="button-default">Хорошо</button>
		</div>
		<script type="text/javascript" src="{% link scripts/cookiesNotification.js %}"></script>
		<script type="text/javascript" src="{% link scripts/themeChanger.js %}"></script>
		{%- if page.links_in_new_tab -%}
		<script type="text/javascript" src="{% link scripts/linksInNewTab.js %}"></script>
		{%- endif -%}
		{%- if page.has_scalable_images -%}
		<script type="text/javascript" src="{% link scripts/imageEnlager.js %}"></script>
		{%- endif -%}
		<script type="text/javascript" src="{% link scripts/oldBrowserAlert.js %}"></script>
		{%- if page.my_age -%}
		<script type="text/javascript" src="{% link scripts/myAge.js %}"></script>
		{%- endif -%}
	</body>
</html>
