<!DOCTYPE html>
<html lang="en">
	<head>
		{%- include head.html -%}
	</head>
	<body>
		<main class="container">
			<section class="about">
				<a href="{{ site.baseurl }}/"><img src="{{ site.mendeo.avatar }}" alt="{{ site.plainwhite.name }}"></a>
				<h2 id="title">
					<a href="{{ site.baseurl }}/">{{ site.plainwhite.name }}</a>
				</h2>
				<p class="tagline">{{ site.plainwhite.tagline }}</p>

				<ul class="social">
					{%- if site.plainwhite.social_links.github -%}
					<li>
						<a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank" class="icon-github-circled"></a>
					</li>
					{%- endif -%}
					{%- if site.plainwhite.social_links.vk -%}
					<li>
						<a href="https://vk.com/{{ site.plainwhite.social_links.vk }}" target="_blank" class="icon-vk"></a>
					</li>
					{%- endif -%}
					{%- if site.plainwhite.social_links.facebook -%}
					<li>
						<a href="https://facebook.com/{{ site.plainwhite.social_links.facebook }}" target="_blank" class="icon-facebook"></a>
					</li>
					{%- endif -%}
					{%- if site.plainwhite.social_links.instagram -%}
					<li>
						<a href="https://instagram.com/{{ site.plainwhite.social_links.instagram }}" target="_blank" class="icon-instagram"></a>
					</li>
					{%- endif -%}
				</ul>
				
				{%- if site.plainwhite.navigation -%}
					<nav class="navigation">
						<ul>
							{%- for link in site.plainwhite.navigation -%}
							<li>
								<a href="{{ link.url | relative_url }}">{{ link.title }}</a>
							</li>
							{%- endfor -%}
						</ul>
					</nav>
				{%- endif -%}

				<p>
					&copy;
					{{ "now" | date: "%Y" }}
					<a href = "{{ "/feed.xml" | relative_url }}" class="icon-rss" style="text-decoration: none"></a>
					<a href = "{{ "https://t.me/mendeo_blog" | relative_url }}" target="_blank" style="text-decoration: none">
						<img src="/assets/images/telegram.svg" style="vertical-align: text-bottom">
					</a>
				</p>
			</section>
			<section class="content">
				{{ content }}
			</section>
		</main>
		{%- if page.links_in_new_tab -%}
			<!-- Открываем ссылки в новом окне -->
			<script type="text/javascript">
				(function ()
				{
					'use strict';
					let links = document.querySelectorAll('.post a');
					links.forEach((link) => link.target = '_blank');
				})();
			</script>
		{%- endif -%}
		<!-- Мой скрипт для увеличения картинок -->
		<script type="text/javascript">
			(function()
			{
				'use strict';
				//Создаём полупрозрачный серый фон на заднем плане под увеличенным изображением.
				const imgBg = document.createElement('div');
				document.getElementsByTagName('body')[0].appendChild(imgBg);
				imgBg.style = 'background-color: rgba(48, 48, 48, 0.6); position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1';
				imgBg.hidden = true;
				fillBg();
				window.addEventListener('resize', fillBg);
				function fillBg()
				{
					imgBg.style.height = (document.documentElement.clientHeight + 100) + 'px';
				}
				
				const bigImgageScreenFraction = 0.7; //Доля от размера экрана, которую будет занимать увеличенное изображение

				document.querySelectorAll('img[scalable]').forEach((img) =>
				{
					const smallSize = img.getAttribute('scalable');
					const defaultStyle = `max-width: ${smallSize}; max-height: ${smallSize}`;
					img.style = defaultStyle;
					img.addEventListener('click', () => 
					{
						if (img.getAttribute('is-big') === 'true')
						{
							img.style = defaultStyle;
							img.setAttribute('is-big', false);
							imgBg.hidden = true;
						}
						else
						{
							imgBg.hidden = false;
							img.setAttribute('is-big', true);
							doImageBig(img);
						}
					});
					//Сохраняем пропорции при ресайзинге.
					window.addEventListener('resize', () => 
					{
						if (img.getAttribute('is-big') === 'true') doImageBig(img);
					});
				});
				
				//Эта функция расчитывает размеры увеличенного изображения и центрирует его.
				function doImageBig(img)
				{
					let screenHeight = document.documentElement.clientHeight;
					let screenWidth = document.documentElement.clientWidth;
					let imgWidth = img.width;
					let imgHeight = img.height;
					let bigImgHeight = Math.round(screenHeight * bigImgageScreenFraction);
					let bigImgWidth = Math.round(screenWidth * bigImgageScreenFraction);
					console.log(bigImgHeight);
					console.log(bigImgWidth);
					let ratio = imgWidth / imgHeight
					let newWidth = Math.round(bigImgHeight * ratio);
					if (newWidth < bigImgWidth)
					{
						bigImgWidth = newWidth;
					}
					else
					{
						bigImgHeight = Math.round(bigImgWidth / ratio);
					}
					let left = Math.round(0.5 * (screenWidth - bigImgWidth));
					let top = Math.round(0.5 * (screenHeight - bigImgHeight));
					img.style = `max-width: ${bigImgWidth}px; max-height: ${bigImgHeight}px; left: ${left}px; top: ${top}px; margin: auto; position: fixed; z-index: 2`;
				}
			})();
		</script>
	</body>
</html>
