---
layout: default
---
{%- if page.title -%}
	<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
	<ul class="posts">
		<li>
			<h1 id="posts-label">Блог</h1>
		</li>

		{%- for post in site.posts -%}
			<li>
				{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
				<a class="post-link" href="{{ post.url | relative_url }}">
					<h2 class="post-title">{{ post.title | escape }}</h2>
				</a>
				<div class="post-meta">
					<ul class="post-categories">
						{%- for tag in post.tags -%}
							<li>{{ tag }}</li>
						{%- endfor -%}
					</ul>
					<div class="post-date">
						<i class="icon-calendar"></i>
						{{ post.date | date: date_format }}
					</div>
				</div>
				<div class="post">
					{%- if site.show_excerpts -%}
						{{ post.excerpt }}
					{%- endif -%}
				</div>
			</li>
		{%- endfor -%}
	</ul>
	<script type="text/javascript">
		(function()
		{
			let d = new Date();
			d.setUTCDate(4);
			d.setUTCMonth(11);
			d.setUTCFullYear(2021);
			d.setUTCHours(7);
			d.setUTCMinutes(34);
			d.setUTCSeconds(38);
			d.setUTCMilliseconds(0);
			let timer = document.createElement('span');
			document.getElementsByTagName('body')[0].appendChild(timer);
			timer.style = 'display: flex; justify-content: right';
			showTime();
			
			function showTime()
			{
				let diff = d.getTime() - Date.now();
				let days = Math.floor(diff / 86400000);
				let aux = days * 86400000;
				let hours = Math.floor((diff - aux) / 3600000);
				aux += hours * 3600000;
				let minutes = Math.floor((diff - aux) / 60000);
				aux += minutes * 60000;
				let seconds = Math.floor((diff - aux) / 1000);
				aux += seconds * 1000;
				let millis = diff - aux;
				timer.innerHTML = `${days} дней, ${hours} ${name("часов", hours)}, ${minutes} ${name("минут", minutes)}, ${seconds} ${name("секунд", seconds)}`;
				millis++;
				setTimeout(showTime, millis);
			}
			
			function name(start, n)
			{
				let end = '';
				if (!(n >= 10 && n <= 20))
				{
					if (n >= 100) throw new Error('n must be lower then 100');
					if (n >= 10) n -= Math.floor(n / 10) * 10;
					switch(n)
					{
						case 0: case 6: case 7: case 8: case 9:
							break;
						case 1:
							end = 'а';
							break;
						case 2: case 3: case 4:
							end = 'ы';
							break;
					}
				}
				return start + end;
			}
		})();
	</script>
{%- endif -%}
