---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
	<a class="post-link" href="{{ page.url | relative_url }}">
		<h2 class="post-title">{{ page.title | escape }}</h2>
	</a>
	<div class="post-meta">
	<ul class="post-categories">
		{%- for tag in page.tags -%}
			<li>{{ tag }}</li>
		{%- endfor -%}
	</ul>
	<div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
</div>
<div class="post">
	{{ content }}
</div>

<!--Disqus комментарии-->
<br>
<div id="disqus_thread"></div>
<script type="text/javascript">const DISQUS_PAGE_ID = '{{ page.disqus_page_id }}';</script>
<script type="text/javascript" src="{% link scripts/disqus.js %}"></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
